<p style="color: green"><%= notice %></p>

<%= render @paciente %>

<div>

  <%= link_to "Back to pacientes", pacientes_path %>
  <%= button_to "Destroy this paciente", @paciente, method: :delete %>
</div>
