<!DOCTYPE HTML>
<html lang=“pt-br”>
  <head>
    <meta charset=“utf-8”/>
    <meta content=“width=device-width, initial-scale=1, maximum-scale=1” name=“viewport”>
    <title>Título da Página</title>

  </head>
  <body>

    <div class="container col-6">

      <%= link_to "Pacientes", pacientes_path, class: "btn btn-dark btn-lg btn-block" %>
      <%= link_to "Medicos", medicos_path, class: "btn btn-dark btn-lg btn-block" %>

    </div>

  </body>
</html>